$color1:#983434;
$color2:#5c827e;

.message {
    font-family: arial;
    color: $color1;
    text-align: center;
}
.message2 {
    font-family: sans-serif;
    color: $color2;
    text-align: center;
}

.text {
    color: #4b3161;
}

.box-container {
    width: 100%;
    border:1px solid #000;
    display: flex;

    .box {
        width: 50px;
        height: 50px;
        background-color: brown;
        margin: 0 auto;
    }
}